@model List<Empleado>

<h1 style="color:blue">
    Empleados Session OK
</h1>

<p>
    <a asp-controller="Empleados"
    asp-action="EmpleadosAlmacenadosOk">
        Empleados almacenados
    </a>
</p>

<h3 style="color:green">@ViewData["MENSAJE"]</h3>
<ul class="list-group">
    @foreach (Empleado empleado in Model)
    {
        <li class="list-group-item list-group-item-danger">
            @empleado.Apellido
            <a asp-controller="Empleados"
            asp-action="SessionEmpleadosOk" class="btn btn-warning"
            asp-route-idempleado="@empleado.IdEmpleado">
               Almacenar empleado
            </a>
        </li>
    }
</ul>