@model List<Empleado>

<h1 style="color:fuchsia">
    Empleados Session V4
</h1>

<p>
    <a asp-controller="Empleados"
       asp-action="EmpleadosAlmacenadosV4">
        Empleados almacenados V4
    </a>
</p>

<h3 style="color:green">@ViewData["MENSAJE"]</h3>
<ul class="list-group">
    @foreach (Empleado empleado in Model)
    {
        <li class="list-group-item list-group-item-warning">
            @empleado.Apellido
            <a asp-controller="Empleados"
               asp-action="SessionEmpleadosV4" class="btn btn-dark"
               asp-route-idempleado="@empleado.IdEmpleado">
                Almacenar empleado
            </a>
        </li>
    }
</ul>