@model List<Empleado>

<h1 style="color:blue">
    Empleados Session V5
</h1>

<p>
    <a asp-controller="Empleados"
       asp-action="EmpleadosAlmacenadosV5">
        Empleados almacenados V5
    </a>
</p>

<h3 style="color:red">@ViewData["MENSAJE"]</h3>
<ul class="list-group">
    @foreach (Empleado empleado in Model)
    {
        <li class="list-group-item list-group-item-info">
            @empleado.Apellido
            <a asp-controller="Empleados"
               asp-action="SessionEmpleadosV5" class="btn btn-outline-warning"
               asp-route-idempleado="@empleado.IdEmpleado">
                Almacenar empleado
            </a>
        </li>
    }
</ul>