USE [master]
GO
/****** Object:  Database [HOSPITAL]    Script Date: 25/02/2026 14:13:53 ******/
CREATE DATABASE [HOSPITAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HOSPITAL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.DEVELOPER\MSSQL\DATA\HOSPITAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HOSPITAL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.DEVELOPER\MSSQL\DATA\HOSPITAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HOSPITAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HOSPITAL]
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[HOSPITAL_COD] [int] NULL,
	[DOCTOR_NO] [int] NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[ESPECIALIDAD] [nvarchar](50) NULL,
	[SALARIO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANTILLA]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTILLA](
	[HOSPITAL_COD] [int] NULL,
	[SALA_COD] [int] NULL,
	[EMPLEADO_NO] [int] NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[FUNCION] [nvarchar](50) NULL,
	[T] [nvarchar](50) NULL,
	[SALARIO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_EMPLEADOS_HOSPITAL]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_EMPLEADOS_HOSPITAL]
as
	select APELLIDO, ESPECIALIDAD as TRABAJO, SALARIO, HOSPITAL_COD from DOCTOR
	UNION
	select APELLIDO, FUNCION, SALARIO, HOSPITAL_COD from PLANTILLA
GO
/****** Object:  Table [dbo].[DEPT]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPT](
	[DEPT_NO] [int] NULL,
	[DNOMBRE] [nvarchar](50) NULL,
	[LOC] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP](
	[EMP_NO] [int] NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[OFICIO] [nvarchar](50) NULL,
	[DIR] [int] NULL,
	[FECHA_ALT] [datetime] NULL,
	[SALARIO] [int] NULL,
	[COMISION] [int] NULL,
	[DEPT_NO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_EMP_DEPT]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_EMP_DEPT]
as
	select EMP.EMP_NO, EMP.APELLIDO, EMP.OFICIO
	, EMP.SALARIO, DEPT.DNOMBRE AS DEPARTAMENTO
	, DEPT.LOC AS LOCALIDAD
	from EMP
	inner join DEPT
	on EMP.DEPT_NO = DEPT.DEPT_NO
GO
/****** Object:  View [dbo].[V_EMPLEADOS_DEPARTAMENTOS]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[V_EMPLEADOS_DEPARTAMENTOS]
as
	select CAST(
	isnull(
	ROW_NUMBER() over (order by EMP.APELLIDO), 0) as int)
	as ID
	, EMP.APELLIDO, EMP.OFICIO, EMP.SALARIO
	, DEPT.DNOMBRE as DEPARTAMENTO
	, DEPT.LOC as LOCALIDAD
	from EMP
	inner join DEPT
	on EMP.DEPT_NO = DEPT.DEPT_NO
GO
/****** Object:  View [dbo].[V_TRABAJADORES]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_TRABAJADORES]
as
	select EMP_NO as IDTRABAJADOR
	, APELLIDO, OFICIO, SALARIO from EMP
	union
	select DOCTOR_NO, APELLIDO, ESPECIALIDAD, SALARIO from DOCTOR
	union
	select EMPLEADO_NO, APELLIDO, FUNCION, SALARIO from PLANTILLA
GO
/****** Object:  View [dbo].[V_EMPLEADOS]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_EMPLEADOS]
as
	select EMP.EMP_NO, EMP.APELLIDO, EMP.OFICIO
	, EMP.SALARIO, DEPT.DEPT_NO, DEPT.DNOMBRE
	, DEPT.LOC
	from EMP 
	inner join DEPT
	on EMP.DEPT_NO = DEPT.DEPT_NO
GO
/****** Object:  Table [dbo].[DEPARTAMENTOS]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTAMENTOS](
	[DEPT_NO] [int] NULL,
	[DNOMBRE] [nvarchar](50) NULL,
	[LOC] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENFERMO]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENFERMO](
	[INSCRIPCION] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[FECHA_NAC] [datetime] NULL,
	[S] [nvarchar](50) NULL,
	[NSS] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPITAL]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITAL](
	[HOSPITAL_COD] [int] NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[NUM_CAMA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OCUPACION]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCUPACION](
	[INSCRIPCION] [int] NULL,
	[HOSPITAL_COD] [int] NULL,
	[SALA_COD] [int] NULL,
	[CAMA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALA]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALA](
	[HOSPITAL_COD] [int] NULL,
	[SALA_COD] [int] NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[NUM_CAMA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 25/02/2026 14:13:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[IDUSUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](100) NULL,
	[IMAGEN] [nvarchar](250) NULL,
	[SALT] [nvarchar](50) NULL,
	[PASS] [varbinary](max) NULL,
	[PASSWORD] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DEPARTAMENTOS] ([DEPT_NO], [DNOMBRE], [LOC]) VALUES (10, N'CONTABILIDAD', N'ELCHE')
INSERT [dbo].[DEPARTAMENTOS] ([DEPT_NO], [DNOMBRE], [LOC]) VALUES (20, N'INVESTIGACION', N'MADRID')
INSERT [dbo].[DEPARTAMENTOS] ([DEPT_NO], [DNOMBRE], [LOC]) VALUES (30, N'VENTAS', N'BARCELONA')
GO
INSERT [dbo].[DEPT] ([DEPT_NO], [DNOMBRE], [LOC]) VALUES (10, N'CONTABILIDAD1', N'ELCHE1')
INSERT [dbo].[DEPT] ([DEPT_NO], [DNOMBRE], [LOC]) VALUES (20, N'INVESTIGACION', N'MADRID')
INSERT [dbo].[DEPT] ([DEPT_NO], [DNOMBRE], [LOC]) VALUES (30, N'VENTAS', N'BARCELONA')
GO
INSERT [dbo].[DOCTOR] ([HOSPITAL_COD], [DOCTOR_NO], [APELLIDO], [ESPECIALIDAD], [SALARIO]) VALUES (22, 386, N'Cabeza D.', N'Psiquiatría', 152001)
INSERT [dbo].[DOCTOR] ([HOSPITAL_COD], [DOCTOR_NO], [APELLIDO], [ESPECIALIDAD], [SALARIO]) VALUES (22, 398, N'Best D.', N'Urología', 225000)
INSERT [dbo].[DOCTOR] ([HOSPITAL_COD], [DOCTOR_NO], [APELLIDO], [ESPECIALIDAD], [SALARIO]) VALUES (19, 435, N'López A.', N'Cardiología', 321012)
GO
INSERT [dbo].[EMP] ([EMP_NO], [APELLIDO], [OFICIO], [DIR], [FECHA_ALT], [SALARIO], [COMISION], [DEPT_NO]) VALUES (7369, N'SANCHA', N'EMPLEADO', 7902, CAST(N'2010-12-17T00:00:00.000' AS DateTime), 104000, 0, 20)
INSERT [dbo].[EMP] ([EMP_NO], [APELLIDO], [OFICIO], [DIR], [FECHA_ALT], [SALARIO], [COMISION], [DEPT_NO]) VALUES (7499, N'ARROYO', N'VENDEDOR', 7698, CAST(N'2011-02-22T00:00:00.000' AS DateTime), 208000, 39000, 30)
INSERT [dbo].[EMP] ([EMP_NO], [APELLIDO], [OFICIO], [DIR], [FECHA_ALT], [SALARIO], [COMISION], [DEPT_NO]) VALUES (7521, N'SALA', N'VENDEDOR', 7698, CAST(N'2011-02-22T00:00:00.000' AS DateTime), 162500, 65000, 30)
GO
INSERT [dbo].[ENFERMO] ([INSCRIPCION], [APELLIDO], [DIRECCION], [FECHA_NAC], [S], [NSS]) VALUES (N'74836', N'lalala', N'calle lo que sea', CAST(N'2000-01-01T10:10:00.000' AS DateTime), N'S', N'1231')
INSERT [dbo].[ENFERMO] ([INSCRIPCION], [APELLIDO], [DIRECCION], [FECHA_NAC], [S], [NSS]) VALUES (N'14024', N'Fernández M.', N'Recoletos 50', CAST(N'1960-05-21T00:00:00.000' AS DateTime), N'F', N'284991452')
INSERT [dbo].[ENFERMO] ([INSCRIPCION], [APELLIDO], [DIRECCION], [FECHA_NAC], [S], [NSS]) VALUES (N'18004', N'Serrano V.', N'Alcalá 12', CAST(N'1967-06-23T00:00:00.000' AS DateTime), N'F', N'321790059')
GO
INSERT [dbo].[HOSPITAL] ([HOSPITAL_COD], [NOMBRE], [DIRECCION], [TELEFONO], [NUM_CAMA]) VALUES (19, N'Provincial', N'O'' Donell 50', N'964-4256', 502)
INSERT [dbo].[HOSPITAL] ([HOSPITAL_COD], [NOMBRE], [DIRECCION], [TELEFONO], [NUM_CAMA]) VALUES (18, N'General', N'Atocha s/n', N'595-3111', 987)
INSERT [dbo].[HOSPITAL] ([HOSPITAL_COD], [NOMBRE], [DIRECCION], [TELEFONO], [NUM_CAMA]) VALUES (22, N'La Paz', N'Castellana 1000', N'923-5411', 412)
GO
INSERT [dbo].[OCUPACION] ([INSCRIPCION], [HOSPITAL_COD], [SALA_COD], [CAMA]) VALUES (10995, 19, 6, 1)
INSERT [dbo].[OCUPACION] ([INSCRIPCION], [HOSPITAL_COD], [SALA_COD], [CAMA]) VALUES (18004, 19, 3, 2)
INSERT [dbo].[OCUPACION] ([INSCRIPCION], [HOSPITAL_COD], [SALA_COD], [CAMA]) VALUES (14024, 19, 6, 3)
GO
INSERT [dbo].[PLANTILLA] ([HOSPITAL_COD], [SALA_COD], [EMPLEADO_NO], [APELLIDO], [FUNCION], [T], [SALARIO]) VALUES (22, 6, 1009, N'Higueras D.', N'Enfermera', N'T', 200500)
INSERT [dbo].[PLANTILLA] ([HOSPITAL_COD], [SALA_COD], [EMPLEADO_NO], [APELLIDO], [FUNCION], [T], [SALARIO]) VALUES (45, 4, 1280, N'Amigo R.', N'Interino', N'N', 221000)
INSERT [dbo].[PLANTILLA] ([HOSPITAL_COD], [SALA_COD], [EMPLEADO_NO], [APELLIDO], [FUNCION], [T], [SALARIO]) VALUES (19, 6, 3106, N'Hernández J.', N'Enfermero', N'T', 275000)
GO
INSERT [dbo].[SALA] ([HOSPITAL_COD], [SALA_COD], [NOMBRE], [NUM_CAMA]) VALUES (19, 3, N'Cuidados Intensivos', 21)
INSERT [dbo].[SALA] ([HOSPITAL_COD], [SALA_COD], [NOMBRE], [NUM_CAMA]) VALUES (19, 6, N'Psiquiátricos', 67)
INSERT [dbo].[SALA] ([HOSPITAL_COD], [SALA_COD], [NOMBRE], [NUM_CAMA]) VALUES (18, 3, N'Cuidados Intensivos', 10)
GO
INSERT [dbo].[USERS] ([IDUSUARIO], [NOMBRE], [EMAIL], [IMAGEN], [SALT], [PASS], [PASSWORD]) VALUES (1, N'Alumno', N'alumno@gmail.com', N'https://i.pinimg.com/736x/b9/e2/b3/b9e2b367ec3cdd3db683803f36e40b64.jpg', N'v1W9ütÃa y§fX¿Ø·¨G5MÇøRåÓÁãî²?(HÁ&j¤', 0x30388C853526B6D924A44484C60D1E1A35A8505D7ED1E364FA32BB37B10A089318D6452377B42A025D7C686DF68938B162B0243A24E3C0487C779200489ED40E, N'12345')
GO
/****** Object:  StoredProcedure [dbo].[SP_ALL_DEPARTAMENTOS]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ALL_DEPARTAMENTOS]
as
	select * from DEPT
GO
/****** Object:  StoredProcedure [dbo].[SP_ALL_ENFERMOS]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    create procedure [dbo].[SP_ALL_ENFERMOS]
    as
	    select * from ENFERMO
GO
/****** Object:  StoredProcedure [dbo].[SP_ALL_HOSPITALES]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ALL_HOSPITALES]
as
	select * from HOSPITAL
GO
/****** Object:  StoredProcedure [dbo].[SP_ALL_VEMPLEADOS]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ALL_VEMPLEADOS]
as
	select * from V_EMPLEADOS
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCADOR_EMP_SALARIO]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDIMIENTOS ALMACENADOS
create procedure [dbo].[SP_BUSCADOR_EMP_SALARIO]
(@salario int)
as
	select * from EMP 
	where SALARIO > @salario
GO
/****** Object:  StoredProcedure [dbo].[SP_CURSOR_EMP]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_CURSOR_EMP]
as
	declare @apellido nvarchar(50)
	declare @oficio nvarchar(50)
	--1) DECLARAR EL CURSOR COMO CONSULTA EN UNA VARIABLE
	declare QUERY cursor for 
	select APELLIDO, OFICIO from EMP
	--2) ABRIR EL CURSOR
	open QUERY
	--3) MOVERME UNA POSICION DENTRO DEL CURSOR
	fetch next from QUERY into @apellido, @oficio
	--UNA VEZ QUE ESTAMOS POSICIONADOS, EXISTE UNA VARIABLE
	--DE SISTEMA @@fetch_status QUE INDICA SI HEMOS LLEGADO 
	--AL FINAL DEL CURSOR
	--SI EXISTEN REGISTROS = 0
	--4) BUCLE DE LECTURA DE REGISTROS
	while (@@FETCH_STATUS = 0)
	begin
		print @apellido + ' ' + @oficio
		--DEBEMOS MOVERNOS FILA A FILA
		fetch next from QUERY into @apellido, @oficio
	end
	--5) CERRAR EL CURSOR
	close QUERY
	--6) LIBERAR EL CURSOR DE LA MEMORIA
	deallocate QUERY
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_DOCTOR]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_DELETE_DOCTOR]
(@iddoctor int)
as
	delete from DOCTOR where DOCTOR_NO=@iddoctor
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_ENFERMO]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    create procedure [dbo].[SP_DELETE_ENFERMO]
    (@inscripcion nvarchar(50))
    as
	    delete from ENFERMO where INSCRIPCION=@inscripcion
GO
/****** Object:  StoredProcedure [dbo].[SP_EMPLEADOS_DEPARTAMENTOS_OUT]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_EMPLEADOS_DEPARTAMENTOS_OUT]
(@nombre NVARCHAR(50)
, @suma int OUT
, @media int OUT
, @personas int OUT)
as
	declare @iddept int
	select @iddept = DEPT_NO from DEPT 
	where DNOMBRE=@nombre
	--LA CONSULTA DEL PROCEDIMIENTO
	select * from EMP where DEPT_NO=@iddept
	--RELLENAMOS LAS VARIABLES DE SALIDA
	select @suma = isnull(SUM(SALARIO), 0) 
	, @media = isnull(AVG(SALARIO),0) 
	, @personas = COUNT(EMP_NO) 
	from EMP
	where DEPT_NO = @iddept
GO
/****** Object:  StoredProcedure [dbo].[SP_EMPLEADOS_HOSPITAL_OUT]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_EMPLEADOS_HOSPITAL_OUT]
(@nombrehospital NVARCHAR(50)
, @suma int OUT
, @media int OUT
, @personas int OUT)
as
	declare @idhospital int
	select @idhospital = HOSPITAL_COD from HOSPITAL 
	where NOMBRE=@nombrehospital
	--LA CONSULTA DEL PROCEDIMIENTO
	select * from V_EMPLEADOS_HOSPITAL where HOSPITAL_COD=@idhospital

	--RELLENAMOS LAS VARIABLES DE SALIDA
	select @suma = isnull(SUM(SALARIO), 0) 
	, @media = isnull(AVG(SALARIO),0) 
	, @personas = COUNT(*) 
	from V_EMPLEADOS_HOSPITAL where HOSPITAL_COD=@idhospital
GO
/****** Object:  StoredProcedure [dbo].[SP_ESPECIALIDADES_DOCTOR]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_ESPECIALIDADES_DOCTOR]
as
	select distinct ESPECIALIDAD from DOCTOR
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_ENFERMO]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    create procedure [dbo].[SP_FIND_ENFERMO]
    (@inscripcion nvarchar(50))
    as
	    select * from ENFERMO
	    where INSCRIPCION=@inscripcion
GO
/****** Object:  StoredProcedure [dbo].[SP_FINDDOCTORS_ESPE]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_FINDDOCTORS_ESPE]
(@especialidad nvarchar(50))
as
	select * from DOCTOR
	where ESPECIALIDAD=@especialidad
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DEPARTAMENTO]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_INSERT_DEPARTAMENTO] 
(@nombre nvarchar(50)
, @localidad nvarchar(50)
, @maxid int OUT)
as
	declare @id int
	select @id = MAX(DEPT_NO) + 1 from DEPT
	insert into DEPT values 
	(@id, @nombre, @localidad)
	--DONDE DESEEMOS, ASIGNAMOS VALOR AL PARAMETRO DE SALIDA
	set @maxid = @id
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_DEPT]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_INSERT_DEPT]
(@nombre nvarchar(50), @localidad nvarchar(50))
as
	declare @id int
	select @id = MAX(DEPT_NO) + 1 from DEPT
	insert into DEPT values (@id, @nombre, @localidad)
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERT_ENFERMO]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    create procedure [dbo].[SP_INSERT_ENFERMO]
    (@apellido nvarchar(50), @direccion nvarchar(50)
    , @fechanac datetime, @sexo nvarchar(1), @nss nvarchar(12))
    as
        declare @max int
        select @max = CAST(max(INSCRIPCION) AS INT) + 1
        from ENFERMO
	    insert into ENFERMO values (@max, @apellido, @direccion
        , @fechanac, @sexo, @nss)
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_SALARIO_EMP]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_MODIFICAR_SALARIO_EMP]
(@apellido nvarchar(50))
as
	declare @salario int
	select @salario = SALARIO from EMP
	where APELLIDO=@apellido
	if (@salario > 150000)
	begin
		update EMP set SALARIO = SALARIO - 2000
		where APELLIDO = @apellido
		print 'bajamos sueldo'
	end
	else 
	begin
		update EMP set SALARIO = SALARIO + 2000
		where APELLIDO = @apellido
		print 'subimos sueldo'
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_PLANTILLA_HOSPITAL]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_PLANTILLA_HOSPITAL]
(@nombre nvarchar(50))
as
	select PLANTILLA.* from PLANTILLA
	inner join HOSPITAL 
	on HOSPITAL.HOSPITAL_COD = PLANTILLA.HOSPITAL_COD
	where HOSPITAL.NOMBRE=@nombre
GO
/****** Object:  StoredProcedure [dbo].[SP_RANDOM_DOCTORES]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_RANDOM_DOCTORES]
(@especialidad nvarchar(50), @incremento int)
as
	declare @random int
	declare @apellido nvarchar(50)
	declare @doctorno int
	declare	QUERY cursor for
	select APELLIDO, DOCTOR_NO from DOCTOR
	where ESPECIALIDAD = @especialidad
	open QUERY
	fetch next from QUERY into @apellido, @doctorno
	while (@@FETCH_STATUS = 0)
	begin
		set @random = rand() * @incremento
		update DOCTOR set SALARIO = SALARIO + @random
		where DOCTOR_NO = @doctorno
		print 'Salario incrementado ' + cast(@random as nvarchar)
		+ '€ al doctor ' + @apellido
		fetch next from QUERY into @apellido, @doctorno
	end
	close QUERY
	deallocate QUERY
GO
/****** Object:  StoredProcedure [dbo].[SP_TRABAJADORES_OFICIO]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_TRABAJADORES_OFICIO]
(@oficio nvarchar(50)
, @personas int out
, @media int out
, @suma int out)
as
	select * from V_TRABAJADORES
	where OFICIO=@oficio
	select @personas = count(IDTRABAJADOR)
	, @media = avg(SALARIO)
	, @suma = sum(SALARIO) from V_TRABAJADORES
	where OFICIO=@oficio
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DOCTOR]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UPDATE_DOCTOR]
(@iddoctor int, @apellido nvarchar(50)
, @especialidad nvarchar(50), @salario int
, @idhospital int)
as
	update DOCTOR set APELLIDO = @apellido
	, ESPECIALIDAD = @especialidad, SALARIO = @salario
	, HOSPITAL_COD=@idhospital
	where DOCTOR_NO = @iddoctor
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_DOCTOR_ESPE]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UPDATE_DOCTOR_ESPE]
(@especialidad nvarchar(50), @incremento int)
as
	update DOCTOR set SALARIO = SALARIO + @incremento
	where ESPECIALIDAD=@especialidad
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PLANTILLA_HOSPITAL]    Script Date: 25/02/2026 14:13:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_UPDATE_PLANTILLA_HOSPITAL]
(@nombre NVARCHAR(50), @incremento int)
as
	declare @hospitalcod int
	select @hospitalcod = HOSPITAL_COD from HOSPITAL
	where NOMBRE=@nombre
	update PLANTILLA set SALARIO = SALARIO + @incremento
	where HOSPITAL_COD=@hospitalcod
GO
USE [master]
GO
